<!-- Hero block -->
<div class="contacts-hero">
    <div class="orange-line top"></div>
    <h1 class="hero-title">КОНТАКТИ</h1>
    <div class="orange-line bottom"></div>
</div>

<section class="contacts-summary">
    <div class="container">
        <h2>Графік роботи клініки: Пн-Пт з 9:00 - 16:00.
        </h2>
    </div>
</section>

<section class="contacts-section">
    <!-- <div class="container">
        <h2 class="contact-title"><span class="highlight">Графік роботи клініки: Пн-Пт з 9:00 - 16:00.</span></h2>
    </div> -->
    <div class="contacts-card">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
            style="fill: rgb(238, 120, 104);transform: msFilter;">
            <path
                d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 4.7-8 5.334L4 8.7V6.297l8 5.333 8-5.333V8.7z">
            </path>
        </svg>
        <h3>Email:</h3>
        <p>mama&#64;gmail.com</p>
    </div>

    <div class="contacts-card">
        <img src="assets/icons/phone.svg" alt="Phone icon" width="40" height="40" style="opacity: 0.8;" />
        <h3>Тел:</h3>
        <p>+38-(050)-157-0993</p>
    </div>

    <div class="contacts-card">
        <img src="assets/icons/phone.svg" alt="Phone icon" width="40" height="40" style="opacity: 0.8;" />
        <h3>Адреса:</h3>
        <p>м.Мукасево, вул.Грушевського 17, Закарпатська обл.</p>
    </div>

    <!-- <div class="contacts-card">
        <img [src]="'assets/logo/linkedin.png'" alt="">
        <h3>LinkedIn:</h3>
        <a href="https://www.linkedin.com/in/edel-fanning-phd/" target="_blank"
            class="social-icon facebook">Edel-fanning</a>
    </div> -->
</section>

<!-- <section class="contacts-extra container">
    <p>Можете звертатись в будь-який час...</p>
</section> -->