<!-- Hero block -->
<div class="contacts-hero">
    <div class="orange-line top"></div>
    <h1 class="hero-title">КОНТАКТИ</h1>
    <div class="orange-line bottom"></div>
</div>

<section class="contacts-summary">
    <div class="container">
        <h2>Графік роботи клініки: Пн-Пт з 9:00 - 16:00.
        </h2>
    </div>
</section>

<section class="contacts-section">
    <div class="contacts-card">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
            style="fill: rgb(238, 120, 104);transform: msFilter;">
            <path
                d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 4.7-8 5.334L4 8.7V6.297l8 5.333 8-5.333V8.7z">
            </path>
        </svg>
        <h3>Email:</h3>
        <p>lubaleno56&#64;gmail.com</p>
    </div>

    <div class="contacts-card">
        <img src="assets/icons/phone.svg" alt="Phone icon" width="40" height="40" style="opacity: 0.8;" />
        <h3>Тел:</h3>
        <p>+38-(050)-157-0993</p>
    </div>

    <div class="contacts-card">
        <img src="assets/icons/phone.svg" alt="Phone icon" width="40" height="40" style="opacity: 0.8;" />
        <h3>Адреса:</h3>
        <p>м.Мукасево, вул.Грушевського 17, Закарпатська обл.</p>
    </div>
</section>

<section class="map-section">
    <div class="container">
        <h2 class="section-title" style="text-align: center;">Як нас знайти</h2>
        <div class="map-container">
            <!-- Тут буде карта -->
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d179.33201994082154!2d22.71920291737945!3d48.44367741968004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4739ab86df820fab%3A0xca822ecaf0731de2!2z0LLRg9C70LjRhtGPINCc0LjRhdCw0LnQu9CwINCT0YDRg9GI0LXQstGB0YzQutC-0LPQviwgMTcsINCc0YPQutCw0YfQtdCy0L4sINCX0LDQutCw0YDQv9Cw0YLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwg0KPQutGA0LDRl9C90LAsIDg5NjEx!5e0!3m2!1suk!2sie!4v1759624542146!5m2!1suk!2sie"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>