<!-- Hero block -->
<div class="home-hero">
    <div class="orange-line top"></div>
    <h1 class="hero-title">МЕДИЧНИЙ ЦЕНТР КАРДІО</h1>
    <div class="orange-line bottom"></div>
</div>

<section class="home-summary">
    <div class="container">
        <h2>Stay informed with expert insights, recovery tips, and the latest in physiotherapy. Follow the blog for real
            stories, practical advice, and professional guidance on your journey to better health.
        </h2>
    </div>
</section>

<section class="home-extra">
    <div class="container">
        <h2 class="section-title">Blog</h2>
        <p>
            This is my personal blog.
        </p>
        <p>Here will be some content ... </p>
    </div>
</section>