<!-- Hero block -->
<div class="clinic-hero">
    <div class="orange-line top"></div>
    <h1 class="hero-title">ПОСЛУГИ МЕДИЧНОГО ЦЕНТРУ</h1>
    <div class="orange-line bottom"></div>
</div>

<section class="clinic-summary">
    <div class="container">
        <h2>Наш медичний центр надає повний спектр послуг для діагностики та лікування. Ми використовуємо сучасне
            обладнання та найкращі методи для забезпечення якісної медичної допомоги.
        </h2>
    </div>
</section>

<section class="clinic-extra">
    <div class="container">
        <h2 class="section-title" style="text-align: center;">Наші послуги</h2>

        <div class="services-grid">

            <div *ngFor="let service of services">
                <a [routerLink]="service.route" class="services-card">
                    <div class="services-image">
                        <img src={{service.image}} alt={{service.seo}} class="profile-photo">
                    </div>
                    <div class="services-info">
                        <h3 class="services-title">{{service.title}}</h3>
                        <div class="services-description">{{service.description}}</div>
                    </div>
                    <div class="card-arrow">→</div>
                </a>
            </div>
        </div>

    </div>
</section>